@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');


.conta1 {
    background-image: url('../Assets/chpanic.GIF');
    background-size: contain;
    /* background-position: center center; */
    width: 100%;
    height: 156vh;
    /* background-color: #ff501e; */
    /* overflow: hidden; */

    /* font-family: 'Anic'; */
}
.introP {
  position: absolute;
  top: 60px;
  width: 90%;
  font-weight: bold;
  left: 120px;
  color: #FFD21E;
  font-family: "Anic", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 700; */
  font-style: normal;
  font-size: 22px;
  text-shadow: 1px 1px #EBBE0A;
}
.CHcontainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    top: 562px;
    width: 20%;
    left: 14%;
    /* background-color: orange; Adjust this to match the background color in your image */
  }
  
  .box {
    padding: 20px;
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
    text-align: center;
    top: 104px;
    position: relative;
    left: -17px;
  }
  .boxb {
    padding: 20px;
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
    text-align: center;
    position: relative;
    top: 104px;
    left: 142px;
  }
  
  .image {
    width: 75%;
    height: 63%;
    margin-bottom: 10px;
  }
  
  .text {
    color: yellow; /* Adjust this to match the text color in your image */
    /* font-size: 18px; */
    font-weight: bold;
    position: relative;
    top: -13px;
    /* text-transform: uppercase; */
    font-weight: bold;
    /* left: 219px; */
    color: #FFD21E;
    font-family: "Anic", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: 700; */
    font-style: normal;
    font-size: 19px;
    /* text-shadow: 1px 1px #EBBE0A; */
  }
  .ch1backhome {
    height: 16%;
    position: absolute;
    left: 71%;
    overflow: hidden;
    top: 725px;
    background-size: contain;
    width: 75%;
    background-repeat: no-repeat;
    background-image: url('../Assets/panic\ yellow.png');
}
@media (min-width: 2220px) {
  .CHcontainer {
    left: 6.3%;
    top: 670px;
  }
  .ch1backhome {
    top: 835px;
    left: 49%;
    width: 55%;
    height: 15%;
  }
  .image {
    width: 94%;
    height: 73%;
    margin-bottom: 10px;
  }
  .box {
    padding: 20px;
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
    text-align: center;
    top: 104px;
    position: relative;
    left: -9px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .ch1backhome {
    height: 70px;
    position: absolute;
    left: 78.8%;
    overflow: hidden;
    top: 640px;
    background-size: contain;
    width: 40%;
    background-repeat: no-repeat;
    background-image: url('../Assets/panic\ yellow.png');
}
  .text {
    font-size: 11px;
  }
  .image {
    width: 70px;
    height: 70px;
  }
    .conta1{
        background-image: url('../Assets/Chapter1bg.gif');
        background-size: cover;
        background-size: 133%;
        background-position-x: 3px;
        background-repeat: no-repeat;
        /* background-position: center center; */
        width: 100%;
        height: 150vh;
        overflow-x: hidden;
    }
    .introP{
      left: 35px;
      top: 164px;
      width: 77%;
      font-size: 13px;
    }
    .CHcontainer {
        top: 350px;
        padding-bottom: 330px;
        width: 70%;
        left: 2%;
        
      }

      .box {
        width: 48px;
        height: 48px;
        position: relative;
        left: 27px;
        top: 248px;
    }
      
        .boxb {
          width: 48px;
        height: 48px;
        position: relative;
        top: 248px;
        left: -54px;
      }
      .text {
        top: -16px;
        left: -17px;
        /* padding-right: 9px; */
      }
}